In [104]:
import numpy as np
import pandas as pd
from itertools import product

In [56]:
AADT_data = pd.read_csv('Maryland_Annual_Average_Daily_Traffic__Annual_Average_Daily_Traffic_SHA_Statewide_AADT_Points.csv');
AADT_data.head()

C:\Users\vulnic\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,...,AAWDT_2015_ANNO,AAWDT_2016_ANNO,AAWDT_ANNO,MOTORCYCLE_AADT_ANNO,CAR_AADT_ANNO,BUS_AADT_ANNO,LIGHT_TRUCK_AADT_ANNO,SINGLE_UNIT_AADT_ANNO,COMBINATION_UNIT_AADT_ANNO,TRUCK_AADT_ANNO
0,-77.077211,39.002632,3001,B2951,15,Montgomery,0,NaN,CONNECTICUT AVE ...,MD,...,"70,432","76,640","78,491",51,"63,277",263,"7,395","1,573",792,"9,760"
1,-76.089059,39.697747,3002,B1602,7,Cecil,0,NaN,RISING SUN BYPASS ...,US,...,"5,062","5,310","5,431",28,"3,569",46,965,281,182,"1,428"
2,-76.784558,39.122622,3003,S2006020032,2,Anne Arundel,0,NaN,RAMP 7 FR RAMP 2 (MD32) TO GUILFORD RD ...,RP,...,"3,660","3,741","3,832",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-76.821400,39.099429,3004,S2011020807,2,Anne Arundel,0,NaN,OLD LINE AVE ...,CO,...,"4,604","4,705","4,710",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-75.854726,38.815465,3005,S2014050531,5,Caroline,0,NaN,AMERICAN CORNER RD ...,CO,...,921,952,923,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#Car usage by index, index 0 of every array matches
car_usage_2015 = AADT_data['AAWDT_2015_ANNO']
car_usage_2016 = AADT_data['AAWDT_2016_ANNO']

#road names by index 
road_names = AADT_data['ROADNAME']

#Pairs or coordinates by index of X,Y
#Combining takes too long
X = AADT_data['X']
Y = AADT_data['Y']

In [74]:
car_2015 = np.array(car_usage_2015)
car_2016 = np.array(car_usage_2016)
X = np.array(X)
Y = np.array(Y)

In [75]:
car_2015 = np.expand_dims(car_2015,axis = 0)
car_2016 = np.expand_dims(car_2016,axis = 0)
X = np.expand_dims(X,axis = 0)
Y = np.expand_dims(Y,axis = 0)

In [76]:
print(car_2015.shape)
print(car_2016.shape)
print(X.shape)
print(Y.shape)

(1, 9048)
(1, 9048)
(1, 9048)
(1, 9048)

In [77]:
car_2015 = np.transpose(car_2015)
car_2016 = np.transpose(car_2016)
X = np.transpose(X)
Y = np.transpose(Y)
Y.shape

(9048, 1)

In [78]:
print(car_2015.shape)
print(car_2016.shape)
print(X.shape)
print(Y.shape)

(9048, 1)
(9048, 1)
(9048, 1)
(9048, 1)

In [79]:
mega_list =X
mega_list.shape

(9048, 1)

In [80]:
mega_list = np.append(mega_list,Y,axis=1)
mega_list = np.append(mega_list,car_2015,axis=1)
mega_list = np.append(mega_list,car_2016,axis=1)

In [81]:
print(mega_list.shape)
print(car_2015.shape)

(9048, 4)
(9048, 1)

In [105]:
mega_list.shape

(9048, 4)

In [106]:
mega_list[:,0].shape

(9048,)

In [102]:
dataset = pd.DataFrame({'X':mega_list[:,0],'Y':mega_list[:,1],'AADT 2015':mega_list[:,2],'AADT 2016':mega_list[:,3]})
dataset.head()

         X        Y AADT 2015 AADT 2016
0 -77.0772  39.0026    70,432    76,640
1 -76.0891  39.6977     5,062     5,310
2 -76.7846  39.1226     3,660     3,741
3 -76.8214  39.0994     4,604     4,705
4 -75.8547  38.8155       921       952

In [103]:
dataset.to_csv('./loc_and_usage_201516')