In [28]:
import pandas as pd
import numpy as np
#loc_and_usage201516 = pd.read_csv("loc_and_usage_201516.csv")
#report = pd.read_csv("report_test.csv")
#print(report)
#test = pd.read_csv("Report-11.csv")
#report1 = './Desktop/Report-1.csv'
report = pd.read_csv('./reports/Report (7).csv')

In [29]:
#report_n = report['Unnamed: 46']
#report.csv = test['Unnamed: 46']
report = report['Unnamed: 46']
print(report)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
        ...
150      163
151      187
152      202
153      196
154      208
155      211
156      229
157      159
158      126
159      106
160       91
161       49
162       20
163       23
164       NaN
165    2,578
166       NaN
167       NaN
168       NaN
169       NaN
170       NaN
171       NaN
172       NaN
173       NaN
174       NaN
175       NaN
176       NaN
177       NaN
178       NaN
179       NaN
Name: Unnamed: 46, Length: 180, dtype: object

In [30]:
def makeReport(report_n):
    hours = ""
    trigger = 0
    length = ""
    final = ""
    for i in range(len(report_n)):
        if type(report_n[i]) != float: #and (report_n[i] != " ") and (report_n[i] != "n"):
            start = i
            report_n[i] = report_n[i].replace(',','')
            #report_n[i] = report_n[i].replace('.0','')
            print(report_n[i])
            length = length + str(report_n[i])
    return(length)           

makeReport(report)

17
8
3
3
2
9
44
160
196
173
163
187
202
196
208
211
229
159
126
106
91
49
20
23
2578

'17 8 3 3 2 9 44 160 196 173 163 187 202 196 208 211 229 159 126 106 91 49 20 23 2578 '

In [778]:
np.isnan(report[i]) == False
type(report_n[i]) != float

False

In [10]:
makeReport(report)

28
16
10
12
37
85
151
257
229
223
208
244
240
222
230
277
327
377
289
244
187
134
77
37
4136

'28 16 10 12 37 85 151 257 229 223 208 244 240 222 230 277 327 377 289 244 187 134 77 37 4136 '